<div class="main-container">
  <header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">App Entrega</span>
        </a>
    </div>
    <div class="header-nav">
      <a href="..." class="active nav-link nav-text">Viagens</a>      
    </div>
    <div class="header-actions">
        <a href="..." class="nav-link nav-text">
            Log Out
        </a>
    </div>
  </header>
  <div class="content-container">
      <div class="content-area">
        Content Area

        Lorem ipsum dolor sit amet, 
        
        
        consectetur adipiscing elit.
        
        
        Quisque eu odio nisi. 
        
        
        <p>Vestibulum dignissim eget massa sit amet feugiat. Quisque auctor mattis quam eu suscipit. Morbi ipsum risus, feugiat vitae sem at, tincidunt elementum magna. Phasellus tristique posuere dui, ut tempus felis sagittis quis. Integer iaculis ultrices elit, sed venenatis eros. Vivamus interdum semper velit eget gravida. Sed finibus eget lacus sed semper. Suspendisse fringilla, tellus in molestie cursus, sapien purus volutpat lacus, eget venenatis erat est vitae libero. Aliquam et orci hendrerit, consequat purus non, imperdiet ipsum. </p>
      </div>      
  </div>
</div>