<button class="btn btn-outline" (click)="adicionar()">Adicionar</button>

<clr-datagrid>
    <clr-dg-column>Viagem ID</clr-dg-column>
    <clr-dg-column>Oriegm</clr-dg-column>
    <clr-dg-column>Destino</clr-dg-column>
    <clr-dg-column>Valor</clr-dg-column>

    <clr-dg-row *ngFor="let viagem of viagens">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="editar(viagem)">Editar</button>
            <button class="action-item" (click)="remover(viagem)">Remover</button>
        </clr-dg-action-overflow>

        <clr-dg-cell>{{viagem.idviagem}}</clr-dg-cell>
        <clr-dg-cell>{{viagem.origem}}</clr-dg-cell>
        <clr-dg-cell>{{viagem.destino}}</clr-dg-cell>
        <clr-dg-cell>R$ {{viagem.valor}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{viagens.length}} viagens</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="basic" [clrModalSize]="'md'">
    <h3 class="modal-title">Adicionar Viagem</h3>
    <div class="modal-body">
        <form clrForm>
            <clr-input-container>
                <label>Origem</label>
                <input clrInput placeholder="Origem" name="origem" [(ngModel)]="modalViagem.origem" />
            </clr-input-container>
            <clr-input-container>
                <label>Destino</label>
                <input clrInput placeholder="Destino" name="destino" [(ngModel)]="modalViagem.destino" />
            </clr-input-container>
            <clr-input-container>
                <label>Valor</label>
                <input clrInput placeholder="Valor" name="valor" [(ngModel)]="modalViagem.valor" />
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="salvar()">Salvar</button>
    </div>
</clr-modal>